deploy.application = "fourbeansoup.com"
deploy.repository = 'git@github.com:fourbeansoup/fourbeansoup.git'
deploy.user = 'app'
deploy.hosts = 'app.fourbeansoup.com'
deploy.path = '/data'
deploy.server = :unicorn