= render :partial => "shared/notice_invite_required"

#page_header
  %h2
    Request a password reset

#page_body
  = error_messages_for :user
  - semantic_form_for resource_name, resource, :url => password_path(resource_name) do |f|
    - f.inputs do
      = f.input :email, :label => "Email Address", :required => false
    - f.buttons do
      = f.commit_button "Reset Password"