#page_header
  %h1
    Editing <%= singular_name %>

#page_body
  / Edit <%= singular_name %> form
  - semantic_form_for @<%= singular_name %>, :url => admin_<%= plural_name %>_url do |f|
    = f.error_messages
    = render :partial => "form", :locals => {:f => f}
    - f.buttons do
      = f.commit_button "Update"